.new-release {
  box-shadow: var(--box-shadow);

  padding: 1rem 1rem 3rem;
}

.songs-portrait {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    justify-content: center;
  }
}

.songs-landscape {
  margin: 3rem 0;
}

.search-results {
  margin: 4rem 0;
  padding: 1rem;

  box-shadow: var(--box-shadow);

  min-height: 50rem;

  &__headings {
    display: flex;

    margin: 2rem 1rem;

    font-size: var(--font-sub-title);
    font-weight: 600;

    @media screen and (max-width: 600px) {
      &--album,
      &--duration {
        display: none;
      }
    }

    @media screen and (min-width: 768px) {
      &--album,
      &--duration {
        width: 20rem;
      }
    }

    @media screen and (max-width: 1024px) {
      &--title,
      &--album {
        width: 30rem;
      }
    }

    @media screen and (min-width: 1024px) {
      &--title,
      &--album {
        width: 30rem;
      }
    }
  }
}

.album-tracks {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;

  &__album {
    margin: 0 1rem 3rem;
    padding: 1rem;

    width: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &--art {
      border-radius: 50%;
      width: 18rem;
      height: 18rem;
    }

    &--name {
      font-size: var(--font-sub-title);
      font-weight: 600;

      margin: 2rem 0 0;
    }

    @media screen and (max-width: 600px) {
      margin: 2rem auto;
    }
  }
}

.tracks {
  flex: 1;

  &__header {
    font-weight: 600;
  }
}
