:root {
  --color-red: #fa4344;
  --color-yellow: #faf743;
  --color-light-blue: #3d59fa;
  --color-purple: #a920cb;
  --color-green: #00a079;
  --color-blue: #113264;
  --color-black: #495057;
  --color-grey: #e5e5e5;
  --color-white: #ffffff;

  --box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0px 1px 15px rgba(63, 63, 68, 0.15);

  --primary-font: 'Lato', 'sans-serif';

  --font-title: 2.2rem;
  --font-sub-title: 1.6rem;

  --xs: 600px;
  --sm: 601px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
}

html {
  box-sizing: border-box;
  /* // broweser default = 16px
// 10px / 16px = 62.5%
// so that 10px = 1rem */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  width: 100%;

  margin: 1rem 0;
  padding: 0 1rem;
}

@media screen and (min-width: 1024px) {
  .page {
    width: 80%;

    margin: 2rem auto;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    width: 70%;

    margin: 2rem auto;
  }
}

.page-title {
  font-size: var(--font-title);

  margin: 0.5rem 0;
}

.page-sub-title {
  font-size: var(--font-sub-title);
}

img {
  height: 100%;
  width: 100%;
}

.pointer {
  cursor: pointer;
}
