.my-library {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;

  &__empty {
    margin: 1rem auto;

    text-align: center;
    width: 20rem;

    &--image {
      margin: 1rem 0;
    }

    &--text {
      color: var(--color-blue);
    }
  }

  &__heading {
    display: flex;
    align-items: center;
  }
}

.export-to-spotify {
  padding: 0.5rem 4rem;
  margin: 0 4rem;

  font-size: var(--font-sub-title);
  background: var(--color-black);
  color: var(--color-white);

  border: 1px solid var(--color-black);

  cursor: pointer;

  border-radius: 4px;

  display: flex;
  align-items: center;

  &:hover {
    background: var(--color-white);
    color: var(--color-black);
  }

  &__image {
    width: 2rem;
    margin-right: 1rem;
  }
}
